.btn-purple {
  background-color: #9b59b6;
  color: white;
  border: 1px solid #fff;
}

.btn-purple:hover {
  background-color: #9b59b6;
  color: white;
}

.btn-outline-light {
  border: 1px solid #ffffff3b;
  color: white;
}

.btn-outline-light:hover {
  background-color: #ffffff3b;
  color: black;
}
