.feature-card {
  background-color: #1a1a1a; 
  border-radius: 10px; 
  border: 1px solid #9b59b6;
  width: 300px; 
  height: 150px; 
  text-align: center; 
  padding: 20px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 4px 20px rgba(155, 89, 182, 0.5);
}
